{% include 'user/header.html' %}
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Form Penjualan</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/formpenjualan">Entri</a></li>
              <li class="breadcrumb-item active"><a href="/formpenjualan_excel">Excel</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <form action="/simpaneditpenjualan" method="POST" enctype="multipart/form-data">
          <div class="card-body">
              {% for rs in data %}
            <div class="form-group">
              <input type="hidden" name="no_pesanan" value="{{rs.no_pesanan}}">
              <label for="username_pembeli">Username Pembeli</label>
              <input type="text" class="form-control" id="username_pembeli" placeholder="Username Pembeli" name="username_pembeli" value="{{ rs.username_pembeli }}">
            </div>
            <div class="form-group">
              <label for="nama_pembeli">Nama Pembeli</label>
              <input type="text" class="form-control" id="nama_pembeli" placeholder="Nama Pembeli" name="nama_pembeli" value="{{ rs.nama_penerima }}">
            </div>
            {% for ra in data1 %}
            <div class="control-group">
              <label for="produk">Produk</label>
              <input type="text" class="form-control" id="produk[]" placeholder="Produk" name="produk[]" value="{{ ra.nama_produk }}">
              
              <label for="variasi">Variasi</label>
              <input type="text" class="form-control" id="variasi[]" placeholder="Variasi" name="variasi[]" value="{{ ra.nama_variasi }}">
              
              <label for="harga">Harga</label>
              <input type="text" class="form-control" id="harga[]" placeholder="Harga" name="harga[]" value="{{ ra.harga }}">
              
              <label for="jumlah">Jumlah</label>
              <input type="text" class="form-control" id="jumlah[]" placeholder="Jumlah" name="jumlah[]" value="{{ ra.jumlah }}">
              <hr>
              {% endfor %}
            </div>
            
            <div class="form-group">
              <label for="ongkir">Ongkos Kirim</label>
              <input type="text" class="form-control" id="ongkir" placeholder="Ongkir" name="ongkir" value="{{ rs.ongkos_kirim }}">
            </div>
            <div class="form-group">
              <label for="ekspedisi">Ekspedisi</label>
              <input type="text" class="form-control" id="ekspedisi" placeholder="Ekspedisi" name="ekspedisi" value="{{ rs.opsi_pengiriman }}">
            </div>
            <div class="form-group">
              <label for="no_telepon">No. Telepon</label>
              <input type="text" class="form-control" id="no_telepon" placeholder="No. Telepon" name="no_telepon" value="{{ rs.no_telepon }}">
            </div>
            <div class="form-group">
              <label for="alamat">Alamat</label>
              <input type="text" class="form-control" id="alamat" placeholder="Alamat" name="alamat" value="{{ rs.alamat_pengiriman }}">
            </div>
            <div class="form-group">
              <label for="kota_kab">Kota/Kabupaten</label>
              <input type="text" class="form-control" id="kota_kab" placeholder="Kota/Kabupaten" name="kota_kab" value="{{ rs.kota_kab }}">
            </div>
            <div class="form-group">
              <label for="provinsi">Provinsi</label>
              <input type="text" class="form-control" id="provinsi" placeholder="Provinsi" name="provinsi" value="{{ rs.provinsi }}">
            </div>
            <div class="form-group">
              <label for="waktu_selesai">Waktu Pesanan Selesai</label><br>
              <label>{{ rs.waktu_pesanan_selesai}}</label>
              <input type="date" class="form-control" id="waktu_selesai" placeholder="Waktu Pesanan Selesai" name="waktu_selesai" value="{{ rs.waktu_pesanan_selesai}}">
            </div>
            <!-- /.card-body -->
            {% endfor %}
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'user/footer.html' %}