{% include 'user/header.html' %}
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tambah Data Katalog</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="/katalog">Entri</a></li>
              <li class="breadcrumb-item"><a href="/datakatalog">Data</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                 {% for message in messages %}
                   <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                  </div>
                 {% endfor %}
                  {% endif %}
                {% endwith %}
               </p>
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header" style="background-color: rgba(146, 97, 149, 0.82);">
                <h3 class="card-title" style="color: white;">Data Katalog</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label>Choose Images: </label>
                    <input type="file" class="form-control" id="file"  onchange="checkfile(this);" placeholder="Foto Produk" name="file" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label for="nama">Nama Produk</label>
                    <input type="text" class="form-control" id="nama_produk" placeholder="Nama Produk" name="nama_produk">
                  </div>
                  <div class="form-group">
                    <label for="nama_variasi">Variasi</label>
                    <input type="text" class="form-control" id="nama_variasi" placeholder="Variasi" name="nama_variasi">
                  </div>
                  <div class="form-group">
                    <label for="harga">Harga</label>
                    <input type="text" class="form-control" id="harga" placeholder="Harga" name="harga" onclick="validatenumber()">
                    <div id="mylocation"></div>
                    <div id="mylocation1"></div>
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <script>
          $(document).ready(function(){
            // File type validation
            $("#file").change(function(){
              var fileLength = this.files.length;
              var match= ["image/jpeg","image/png","image/jpg"];
              var i;
              for(i = 0; i < fileLength; i++){ 
                var file = this.files[i];
                var imagefile = file.type;
                if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                  alert('Please select a valid image file (JPEG/JPG/PNG).');
                  $("#fileInput").val('');
                  return false;
                }
              }
            });
          });
        </script>
        <script type="text/javascript">
          function validatenumber()
          {
            var mobile_number = document.getElementById("mnumber").value;
            if (isNaN(mobile_number))
            {
              document.getElementById("mylocation").innerHTML="Enter only number";
              document.getElementById("mylocation").style.color="Red";
              return false;
            }
            else{
              document.write(mobile_number + " is a number <br/>");
              return true;
            }
       
          }
        </script>
      </div><!-- /.container-fluid -->
    </section>
  <!-- /.content-wrapper -->
  {% include 'user/footer.html' %}