{% include 'user/header.html' %}
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard Pelanggan</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item"><a href="/transaksi">Transaksi</a></li>
              <li class="breadcrumb-item"><a href="/pelanggan">Pelanggan</a></li>
              <li class="breadcrumb-item"><a href="/produk">Produk</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon" style="background-color: rgba(198, 174, 199, 0.8);"><i class="fas fa-user-alt"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Jumlah Pelanggan</span>
                <span class="info-box-number">{{ pelanggan['pelanggan'] }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon" style="background-color: rgba(198, 174, 199, 0.8);"><i class="fas fa-shopping-bag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Jumlah Transaksi</span>
                <span class="info-box-number">{{ transaksi['pesanan'] }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon" style="background-color: rgba(198, 174, 199, 0.8);"><i class="fa fa-globe"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Pelanggan E-commerce</span>
                <span class="info-box-number">{{ jumsho }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon" style="background-color: rgba(198, 174, 199, 0.8);"><i class="fas fa-edit"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Pelanggan Manual</span>
                <span class="info-box-number">{{ jumwa }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header" style="background-color: rgba(146, 97, 149, 0.82);">
                <h3 class="card-title" style="color: white;">Grafik Top 5 Pelanggan Menurut Provinsi</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>

            
              
            </div>
            <div class="col-md-6">

              <div class="card card-success">
              <div class="card-header" style="background-color: rgba(146, 97, 149, 0.82);">
                <h3 class="card-title" style="color: white;">Grafik Jumlah Pelanggan 5 Bulan Terakhir</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            <div class="card card-success">
              <div class="card-header border-0" style="background-color: rgba(146, 97, 149, 0.82);">
                <h3 class="card-title" style="color: white;">Top Pelanggan Pengeluaran Terbesar</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th width="200">Nama Pelanggan</th>
                    <th width="150"><center>Channel</center></th>
                    <th width="150"><center>Total</center></th>
                    <th width="100"><center>Frekuensi</center></th>
                    <th><center>Barang Yang Paling Sering Dibeli</center></th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for rs in top_pelanggan %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ rs.nama_penerima }}</td>
                    {% if rs.channel == "shopee" %} 
                    <td><center>E-commerce</center></td>
                    {% else %}
                    <td><center>Manual</center></td>
                    {% endif %}
                    <td><center>{{ rs.totharga }}</center></td>
                    <td><center>{{ rs.frekuensi }}x</center></td>
                    <td>{{ rs.nama_produk }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->

          </div>
          
        </div>
        <!-- /.row -->

        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <!-- /.content-wrapper -->
  <script>
            $(function () {
              
              //-------------
              //- PIE CHART -
              //-------------
              // Get context with jQuery - using jQuery's .get() method.

          var data = [{
            data: [{% for item in pro %}
                   "{{ item.jum }}",
                  {% endfor %}],
            backgroundColor: [
              'rgba(187, 147, 214, 0.72)', 'rgba(225, 80, 254, 0.34)', '#9370db', 'rgba(254, 115, 255, 0.72)', 'rgba(72, 50, 86, 0.8)'
            ],
            borderColor: "#fff"
          }];

          var options = {
            tooltips: {
              enabled: true
            },
            plugins: {
              datalabels: {
                formatter: (value, ctx) => {

                  let sum = ctx.dataset._meta[0].total;
                  let percentage = (value * 100 / sum).toFixed(2) + "%";
                  return percentage;


                },
                color: '#fff',
              }
            }
          };


          var ctx = document.getElementById("pieChart").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
            labels: [{% for item in pro %}
                     "{{ item.provinsi }}",
                    {% endfor %}],
              datasets: data
            },
            options: options
          });

            

            var areaChartData2 = {
                labels  : [{% for item in bulan %}
           "{{ item.bulan }}",
          {% endfor %}],
                datasets: [
                  {
                    label               : 'E-commerce',
                    backgroundColor     : 'rgba(187, 147, 214, 0.72)',
                    borderColor         : 'rgba(187, 147, 214, 0.72)',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(187, 147, 214, 0.72)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(187, 147, 214, 0.72)',
                    data                : [{% for item in sho %}
               "{{ item.pelanggan }}",
              {% endfor %}]
                  },
                  {
          label               : 'Manual',
          backgroundColor     : 'rgba(72, 50, 86, 0.8)',
          borderColor         : 'rgba(72, 50, 86, 0.8)',
          pointRadius         : false,
          pointColor          : 'rgba(72, 50, 86, 0.8)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(72, 50, 86, 0.8)',
          data                : [{% for item in wa %}
               "{{ item.pelanggan }}",
              {% endfor %}]
        },
                ]
              }


            var barChartData = $.extend(true, {}, areaChartData2)
            var temp = areaChartData2.datasets
            barChartData.datasets = temp

            var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
            var stackedBarChartData = $.extend(true, {}, barChartData)

            var stackedBarChartOptions = {
              responsive              : true,
              maintainAspectRatio     : false,
              scales: {
                xAxes: [{
                  stacked: true,
                }],
                yAxes: [{
                  stacked: true
                }]
              }
            }

            new Chart(stackedBarChartCanvas, {
              type: 'bar',
              data: stackedBarChartData,
              options: stackedBarChartOptions
    })
            })
          </script>
  {% include 'user/footer.html' %}